body{

font-family:Arial,sans-serif;

background:#f0f2f5;

margin:0;

}



header{

background:#2c3e50;

color:white;

text-align:center;

padding:25px;

}



.container{

width:90%;

max-width:1000px;

margin:30px auto;

}



.card{

background:white;

padding:25px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,.2);

margin-bottom:20px;

}



.item{

background:#f8f9fa;

border:1px solid #ddd;

border-radius:8px;

padding:15px;

margin-top:15px;

}



.estrela{

color:#f1c40f;

font-size:25px;

}



button{

width:100%;

padding:12px;

margin-top:15px;

border:none;

border-radius:5px;

cursor:pointer;

color:white;

font-size:16px;

}



.atualizar{

background:#3498db;

}



.atualizar:hover{

background:#2980b9;

}



.voltar{

background:#7f8c8d;

}



.voltar:hover{

background:#636e72;

}



h2{

color:#2c3e50;

}



.numero{

display:inline-block;

background:#ecf0f1;

padding:20px;

margin:10px;

border-radius:10px;

text-align:center;

}



.numero h3{

font-size:30px;

margin:0;

}