:root{
/* =====================
   ALUNO
===================== */

--cor-fundo:#f0f2f5;

--cor-container:white;

--cor-card:#f8f9fa;

--cor-header:#2c3e50;

--cor-atrasado:#c0392b;

--cor-sucesso:#27ae60;

--cor-voltar:#eb3f20;

--cor-input:#ccc;

--cor-estrela:#f1c40f;

--cor-estrela-inativa:#ccc;


}