body{

font-family:Arial,sans-serif;

background:#f0f2f5;

margin:0;

}


header{

background:#374893;

color:white;

text-align:center;

padding:25px;

}


.container{

width:90%;

max-width:900px;

margin:30px auto;

}


.card{

background:white;

padding:25px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,.2);

margin-bottom:20px;

}


label{

display:block;

font-weight:bold;

margin-top:10px;

}


input,
textarea,
select{

width:100%;

padding:10px;

margin-top:5px;

border:1px solid #ccc;

border-radius:5px;

box-sizing:border-box;

}


textarea{

height:120px;

resize:none;

}


button{

width:100%;

padding:12px;

margin-top:15px;

border:none;

border-radius:5px;

cursor:pointer;

font-size:16px;

color:white;

}


.enviar{

background:#3498db;

}


.enviar:hover{

background:#2980b9;

}


.voltar{

background:#7f8c8d;

}


.voltar:hover{

background:#636e72;

}


.item{

background:#f8f9fa;

padding:15px;

margin-top:15px;

border-radius:8px;

border:1px solid #ddd;

}


.excluir{

background:#c0392b;

}


.excluir:hover{

background:#a93226;

}



.btn-voltar{

    display:block;
    margin:30px auto 20px;
    width:110px;
    height:35px;
    padding:0;

    background:#444;
    color:white;

    border:none;
    border-radius:6px;

    cursor:pointer;
    font-size:14px;

}


.btn-voltar:hover{

    background:#222;

}

