body{

font-family:Arial,sans-serif;

background:#eef2f3;

margin:0;

}


header{

background:#243447;

color:white;

text-align:center;

padding:20px;

}


.container{

padding:20px;

}


.card{

background:white;

padding:20px;

border-radius:10px;

margin-bottom:20px;

box-shadow:0 0 10px #ccc;

}


label{

font-weight:bold;

display:block;

margin-top:10px;

}


select,
input{

width:100%;

padding:10px;

margin-top:5px;

border-radius:5px;

border:1px solid #ccc;

box-sizing:border-box;

}


button{

margin-top:15px;

padding:12px;

width:100%;

background:#3498db;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

font-size:16px;

}


button:hover{

background:#2980b9;

}


.relatorio{

background:#f8f9fa;

border:1px solid #ccc;

padding:20px;

border-radius:10px;

margin-top:20px;

}


.sem{

color:red;

font-weight:bold;

}


h2{

color:#243447;

}


h3{

color:#3498db;

}


.btn-voltar{

    display:block;

    margin:30px auto 20px;

    width:90px;

    height:32px;

    padding:0;

    background:#444;

    color:white;

    border:none;

    border-radius:6px;

    cursor:pointer;

    font-size:14px;

}



.btn-voltar:hover{

    background:#222;

}



